@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* UNIVERSAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be vietnam pro" !important;
  color-scheme: light dark;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #9754cb;
  --btn-hover-color: #6237a0;
  --dark-color: #242424;
  --helper-color: #99b9ff;
  --toastify-color-error: #9754cb;
}

html {
  color: white;
  background-color: #121212;
  /* padding: 0 15rem; */
  font-size: 0.6rem;
}

::selection {
  background-color: var(--btn-color);
  color: var(--bg-color);
}

body {
  /* padding: 0 15rem; */
  margin: 0;
  min-height: 100vh;
  /* min-width: 32rem; */
}

select {
  height: 35px;
}


img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.1);
}


/* Analytics section */

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    /* background-color: #9754cb; */
    border-radius: 1rem;
  }

  & .grid {
    color: #fff;
    gap: 1rem;

    & .div1 {
      height: 100px;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      background-color: #9754cb;
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);


      & p {
        font-size: 1.8rem;
      }
    }

    & .div1:last-child {
      border-right: none;
    }

    & p {
      text-transform: uppercase;
    }

    & h2 {
      font-size: 3.5rem;
    }
  }
}

/* ERROR PAGE */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  & img {
    height: 457px;
  }

  & button {
    margin: 1rem;
  }
}


/* Service page */

.card {
  border: 2px solid #232323;
  width: 100%;
  background-color: #272727;
  box-shadow: 0 0 10px rgba(14, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1.5rem;
  transition: 0.5s;
  position: relative;
  height: 100%;
}


.card:hover .service-btn {
  display: flex;
}

.card-img {
  width: 100%;
  /* height: 172px; */
  display: flex;
  border-radius: 1rem;
  /* justify-content: center; */
}

.card-img img {
  border-radius: 1rem;
  aspect-ratio: 16/9;
  width: 100%;
}

.card:hover {
  transform: scale(1.01);
  border-color: #deacf5;
}

.card img:hover {
  transform: scale(1);
}

.price {
  z-index: 1;
  background-color: red;
  height: 25px;
  position: absolute;
}

.card-details .grid p {
  line-height: 20px;
  height: 40px;
  width: 140%;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  flex-wrap: wrap;
  font-size: 1.5rem !important;
  margin: 1rem 0 0.5rem 0;
}

.card h2 {
  display: -webkit-box;
  line-height: 28px;
  height: 56px;
  margin-bottom: 1.2rem;
  font-size: 2.8rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card p {
  /* color: white; */
  height: 66px;
  line-height: 22px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.card p:last-child {
  height: 22px;
  line-height: 22px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.p {
  display: flex;
  align-items: center;
}

/* table css */

table {
  /* border: 1px solid #9754cb; */
  border-radius: 1.2rem;
  width: 100%;
  color: #242424;
  /* background-color: white; */
}


table thead tr th {
  /* background-color: red; */
  /* border-bottom: 1px solid #9754cb; */
  font-size: 2.2rem;
  background-color: white;
  height: 50px;

  &:first-child {
    border-top-left-radius: 1.2rem;
  }

  &:last-child {
    border-top-right-radius: 1.2rem;
  }
}

table tbody tr {
  background-color: white;
  margin: 2px 0;
}

table tbody tr td {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  height: 50px;
  padding: 1rem;
  /* background-color: red; */
}

table tbody tr td:first-child {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  height: 50px;
  padding: 1rem;
  width: 100px;
  /* background-color: red; */
}

table tbody tr .msg {
  /* background-color: red; */
  width: 500px;
  /* text-align: left; */
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

.modal-overlay {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background: #242424;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal button {
  margin-top: 1rem;
  position: relative;
  width: 48%;
  bottom: 0;
}

.isAdmin {
  margin-top: 2rem;
}

/* user Profile */

.user {
  background-color: white;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;

  & img {
    height: 330px;
  }
}


/* Single service page css */

.single-service {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.service-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.service-name h2 {
  display: -webkit-box;
  line-height: 28px;
  height: 84;
  margin-bottom: 1.2rem;
  font-size: 3rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Above one part is only for desc */
.service-name2 h2 {
  display: -webkit-box;
  line-height: 28px;
  height: 84;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.source-code {
  overflow: auto;
  background-color: #232323;
  width: 100%;
  height: 700px;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  /* font-size: 2.5rem !important; */
}

.custom-syntax-highlighter {
  background-color: transparent !important;
  /* Override background color */
  padding: 0;
  /* Optionally adjust padding */
  margin: 0;
  /* Optionally adjust margin */
}

.service-btns {
  position: absolute;
  /* Change to absolute positioning */
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  padding: 1rem;
  /* Optional: Add padding for better button visibility */
}

/* Pagination */

.pagination {
  /* Assuming .pagination is the container for your pagination component */
  margin: auto;
  color: white !important;
}

.pagination ul li button {
  border-color: white;
  font-size: 1.5rem;
  color: #fff !important;
  /* Ensure this overrides any default color */
  background-color: #6237a0;
  font-weight: 800 !important;

}

.pagination .Mui-selected {
  background-color: #9754cb !important;
  /* Apply red background to selected button */
  color: #fff !important;
  /* Ensure text is white on selected button */
}

.pagination ul li button:hover {
  background-color: #9754cb !important;
}

.css-1scal0h-MuiPaginationItem-root {
  color: white !important;
  font-size: 2.3rem !important;
}


/* GLOBAL CSS */

.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 140rem;
  padding: 2rem 2.3rem;
  margin: 0 auto;
}

.admin {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  /* flex-direction: column; */
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

button {
  /* display: flex; */
  /* align-items: center; */
  text-transform: uppercase;
  padding: 14px 20px;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

button:hover {
  /* box-shadow: inset 0 0 0 0.2rem var(--bg-color); */
  background-color: var(--btn-hover-color);
}

.btn-outer {
  background-color: transparent;
  border: 1px solid var(--btn-color);
}

.btn-outer:hover {
  border-color: var(--btn-hover-color);
}

form {

  p,
  li,
  label,
  input,
  textarea,
  select {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
  }


  label::first-letter {
    text-transform: uppercase !important;
  }

  label {
    margin-bottom: 2rem !important;
  }

  input,
  textarea,
  select {
    padding: 0.5rem 0.5rem;
    display: flex;
    width: 400px;
    margin: 0.7rem 0;
    margin-top: 0;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--btn-color);
    transition: 0.1s;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-bottom: 3px solid var(--btn-hover-color);
  }
}

.main {
  width: 100%;
  padding: 0rem 10rem;
  /* padding: 20px; */
}

h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: bold;
}


a {
  /* font-weight: 800; */
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

.numbering {
  font-family: "Be Vietnam Pro", sans-serif !important;
  position: absolute;
  right: 1rem;
  top: -1rem;
  font-size: 8rem;
  opacity: 0.5;
  color: #9754cbaa;
  font-weight: 800;
}

.numbering2 {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-size: 5rem;
  opacity: 0.5;
  color: #9754cbaa;
  font-weight: 800;
}


/*? Analytics css */

.analytics-banner {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
  display: grid;
  margin: 3rem 0;
  grid-template-columns: repeat(6, 1fr);
}

.brand {
  display: flex;
  justify-content: center;
  height: 68px;
  padding: 20px 30px;
  border-right: 1px solid #000 ;
}

.brand:last-child {
  border: none;
}

.brand img {
  color: #fff;
  /* mix-blend-mode: color-burn; */
}