@media screen and (max-width: 480px) {
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&family=Lato:wght@700&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Baloo 2";
        color-scheme: light dark;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    :root {
        --bg-color: #f4f3ff;
        --btn-color: #9754cb;
        --btn-hover-color: #6237a0;
        --dark-color: #242424;
        --helper-color: #99b9ff;
        --toastify-color-error: #9754cb;
    }

    html {
        color: white;
        background-color: #121212;
        /* padding: 0 15rem; */
        font-size: 0.5rem;
    }

    body {
        /* padding: 0 15rem; */
        margin: 0;
        min-height: 100vh;
        /* min-width: 32rem; */
    }

    .main {
        margin-top: 2rem;
        padding: 0rem 4rem;
    }

    h1 {
        font-size: 4rem;
        line-height: 1.1;
        font-weight: bold;
    }

    p,
    li,
    label,
    input,
    textarea {
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0.1rem;
        word-spacing: 0.06rem;
    }

    label::first-letter {
        text-transform: uppercase !important;
    }

    label {
        font-size: 2.2rem;
        margin-bottom: 2rem !important;
    }

    input,
    textarea,
    select {
        background-color: #121212;
        color: white;
        padding: 0.5rem 0.5rem;
        display: flex;
        width: 100% !important;
        /* width: 100%; */
        margin: 0.7rem 0;
        margin-top: 0;
        border: none;
        border-bottom: 3px solid var(--btn-color);
        transition: 0.1s;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-bottom: 3px solid var(--btn-hover-color);
    }


    a {
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: var(--btn-color);
        text-decoration: inherit;
    }


    li {
        list-style: none;
    }

    .container {
        max-width: 140rem;
        padding: 2rem 0rem;
        margin: 0 auto;
    }

    .admin {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .grid {
        /* display: flex; */
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .grid-two-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-three-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-four-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    button {
        text-transform: uppercase;
        padding: 01.2rem 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        background-color: var(--btn-color);
        border-radius: 0.8rem;
        border: none;
        cursor: pointer;
        letter-spacing: 0.1rem;
        transition: 0.3s;
        color: white;
    }

    button:hover {
        /* box-shadow: inset 0 0 0 0.2rem var(--bg-color); */
        background-color: var(--btn-hover-color);
    }

    .section-registration {
        & .grid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .hero-content {
            & p {
                /* font-size: 1.8rem; */
                margin: 1.5rem 0 4rem 0;

                &:first-child {
                    margin: 0 0 1.2rem 0;
                }
            }
        }

        & .hero-images {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 200px;
                transition: 0.3s;
                height: auto;
            }

            & img:hover {
                transform: scale(1.1);
            }
        }
    }

    /* Hero section */

    .section-hero {
        & .grid {
            display: flex;
            align-items: center;
        }

        .hero-content {
            & p {
                /* font-size: 1.8rem; */
                margin: 1.5rem 0 4rem 0;

                &:first-child {
                    margin: 0 0 1.2rem 0;
                }
            }
        }

        & .hero-images {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 200px;
                transition: 0.3s;
                height: auto;
            }

            & img:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        transition: 0.3s;
    }

    img:hover {
        transform: scale(1.1);
    }


    /* Analytics section */

    .section-analytics {
        margin: 3rem 0;

        & .container {
            /* background-color: #9754cb; */
            border-radius: 1rem;
        }

        & .grid {
            color: #fff;

            & .div1 {
                padding: 0 0.8rem;
                border: none;
                text-align: center;
                /* border: 0.2rem solid var(--dark-color); */
            }

            & .div1:last-child {
                border: none;
            }

            & p {
                text-transform: uppercase;
            }

            & h2 {
                font-size: 3.5rem;
            }
        }
    }

    /* ERROR PAGE */

    .error {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        & img {
            height: 457px;
        }

        & button {
            margin: 1rem;
        }
    }


    /* Service page */

    .card {
        border: 2px solid #232323;
        width: 100%;
        background-color: #272727;
        box-shadow: 0 0 10px rgba(14, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 1.5rem;
        transition: 0.5s;
    }

    .card-img {
        width: 100%;
        height: 182.25px;
        /* aspect-ratio: 16/9; */
        display: flex;
        justify-content: center;
    }

    .card:hover {
        transform: scale(1.02);
        border-color: #deacf5;
    }

    .card img:hover {
        transform: scale(1);
    }

    .price {
        z-index: 1;
        background-color: red;
        height: 25px;
        position: absolute;
    }

    .card-details .grid p {
        line-height: 20px;
        height: 40px;
        width: 140%;
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        flex-wrap: wrap;
        font-size: 1.5rem !important;
        margin: 1rem 0 0.5rem 0;
    }

    .card h2 {
        display: -webkit-box;
        line-height: 28px;
        height: 56px;
        margin-bottom: 1.2rem;
        font-size: 2.8rem;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .card p {
        height: 66px;
        line-height: 22px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
    }

    /* table css */

    table {
        width: 100px !important;
        /* border: 1px solid #9754cb; */
        border-radius: 1.2rem;
        /* width: 90%; */
        color: #242424;
        /* font-size: 1.2rem; */
        /* background-color: white; */
    }


    table thead tr th {
        /* background-color: red; */
        /* border-bottom: 1px solid #9754cb; */
        font-size: 1.5rem;
        background-color: white;
        height: 50px;

        &:first-child {
            border-top-left-radius: 1.2rem;
        }

        &:last-child {
            border-top-right-radius: 1.2rem;
        }
    }

    table tbody tr {
        background-color: white;
        margin: 2px 0;
    }

    table tbody tr td {
        text-align: center;
        font-weight: 600;
        font-size: 1.1rem;
        height: 50px;
        padding: 0.7rem;
        /* background-color: red; */

        & button {
            font-size: 1.1rem;
            padding: 1rem;
        }
    }

    table tbody tr td:first-child {
        text-align: center;
        font-weight: 500;
        font-size: 1.7rem;
        height: 50px;
        padding: 1rem;
        /* background-color: red; */
    }

    table tbody tr .msg {
        /* background-color: red; */
        width: 500px;
        /* text-align: left; */
    }

    table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 1.2rem;
    }

    table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 1.2rem;
    }

    .modalCont {
        background-color: #242424;
        width: 90%;
        height: fit-content;
        padding: 2rem;
        border-radius: 1rem;
    }

    .modal {
        width: 100%;
        height: 100%;
        background-color: #000000bb;
        color: var(--bg-color);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* height: 500px; */
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        /* display: none; */
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        transform: translate(-50%, -50%);
    }

    .btn-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal button {
        margin-top: 1rem;
        position: relative;
        width: 48%;
        bottom: 0;
    }

    .isAdmin {
        margin-top: 2rem;
    }

    /* user Profile */

    .user {
        background-color: white;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;

        & img {
            height: 330px;
        }
    }

    .admin {

        /* height: 40.6px; */
        & h1 {
            font-size: 3rem;
        }
    }

    /* Pagination */

    .pagination {
        /* Assuming .pagination is the container for your pagination component */
        margin: auto;
        /* padding: 2px; */
        color: white !important;
    }

    .pagination ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .pagination ul li {
        height: 30px;
        width: 40px;
    }

    .pagination ul li button {
        border-color: white;
        font-size: 0.8rem;
        color: #fff !important;
        /* Ensure this overrides any default color */
        background-color: #6237a0;
        font-weight: 800 !important;

    }

    .pagination .Mui-selected {
        background-color: #9754cb !important;
        /* Apply red background to selected button */
        color: #fff !important;
        /* Ensure text is white on selected button */
    }

    .pagination ul li button:hover {
        background-color: #9754cb !important;
    }

    .css-1scal0h-MuiPaginationItem-root {
        color: white !important;
        font-size: 2.3rem !important;
    }

    #serachbar {
        width: 130%;
    }
}