.contact-section{
    margin: 3rem;
}

.contact-head{
    border-bottom: 1px solid #fff;
    display: flex;
    gap: 80px;
    padding: 40px 60px;
    padding-top: 0
}

.contact-tit{
    width: 600px;
    font-size: 38px;
}

.contact-desc{
    width: 600px;
    font-size: 16px;
    color: #ffffffcc;
}

.contact-form{
    background-color: #242424;
    padding: 24px;
    border-radius: 12px;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.social-connect{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.social-cont{
    display: flex;
    flex-direction: column;
}

.cont{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
}