.service-section {
    margin: 3rem;
}

.service-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 0 60px 40px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

.service-card {
    margin: 3rem 0;
    position: relative;
    background-color: #242424;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 49%;
    border-radius: 12px;
}

.service-header {
    display: flex;
    gap: 50px;
}

.service-detail {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
}

.service-name {
    font-size: 20px !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    line-height: 23px !important;
    max-height: 46px !important;
    z-index: 2;
}

.service-desc {
    font-size: 14px;
    display: -webkit-box;
    line-height: 20px;
    height: 60px;
    margin-bottom: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #ffffffcc;
}

.service-pic {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.service-pic img {
    border-radius: 5px;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    transition: 0.1s;
}

.no-services-message {
    grid-column: span 2;
    text-align: center;
    font-size: 1.2em;
    color: #000;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    border: 2px double #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Mobile Styles */
@media (max-width: 480px) {
    .service-section {
        margin: 3rem 0;
    }

    .service-head {
        padding: 0 0 30px;
    }

    .service-cards {
        margin: 3rem 0;
    }

    .service-card {
        margin-top: 1rem;
        padding: 30px;
        width: 100%;
    }

    .service-header {
        gap: 20px;
    }

    .service-name {
        font-size: 18px !important;
        line-height: 23px !important;
        max-height: 46px !important;
    }

    .service-pic {
        aspect-ratio: 16/9;
    }

    .service-pic img {
        width: 100%;
    }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 1024px) {
    .service-section {
        margin: 3rem 0;
    }

    .service-head {
        padding: 0 0 30px;
    }

    .service-cards {
        margin: 3rem 0;
    }

    .service-card {
        padding: 30px;
        width: 100%;
    }

    .service-header {
        gap: 20px;
    }

    .service-pic {
        aspect-ratio: 16/9;
    }
}

/* Desktop Styles */
@media (min-width: 770px) {
    .service-card {
        width: 48% !important;
    }

    .service-pic img {
        width: 100%;
        aspect-ratio: 16/9;
    }
}
