* {
    font-size: 1.4rem;
}

header {
    /* z-index: 1; */
    position: sticky;
    width: 200px;
    height: 100%;
    /* top: 0; */
    /* background-color: red; */
    padding: 0 3rem 0 0rem;
    background-color: #202020;
    transition: 0.4s;
    /* z-index: 2; */
}

.logo-brand {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
}

header .container {
    display: flex;
    flex-direction: column;
    /* max-width: 140rem; */
    /* align-items: center; */
    /* padding: 1rem 2.4rem; */
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    /* display: flex; */
    height: 40px;
    list-style: none;
    /* font-size: 1.8rem !important; */
}

li a {
    font-size: 16px;
    padding: 0 15px;
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}

.icon {
    font-size: 16px;
    transition: 0.4s;
}

nav ul li a:hover,
ul li a.active {
    background-color: #121212;
    height: 40px;
    width: 145%;
    border-radius: 1rem;
    color: #deacf5;
}

@media screen and (max-width: 480px) {
    header {
        padding: 0;
        width: 36px;
        overflow: hidden;
        z-index: 2;
    }

    .logo {
        display: none;
    }

    .menu {
        padding: 0 8px;
        display: flex;
    }

    ul {
        gap: 2rem;
        width: 100%;
    }

    li a {
        margin: 0 3px;
        padding: 0 8px;
        width: 100%;
        font-size: 1rem;
    }

    nav ul li a:hover,
    ul li a.active {
        background-color: #121212;
        height: 40px;
        width: 145%;
        border-radius: 1rem;
        color: #deacf5;
    }

    .icon {
        display: none;
    }
}