* {
    font-size: 1.4rem;
}

header {
    z-index: 999;
    /* display: flex; */
    position: sticky;
    width: 100% !important;
    height: 81px;
    top: 0;
    display: flex;
    align-items: center;
    padding: 16px 60px;
    background-color: #121212;
    transition: 0.4s;
    /* z-index: 2; */
    border-bottom: 1px solid #9754cb;
}

.logo-brand {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
}

header .container {
    display: flex;
    padding: 0;
    /* flex-direction: column; */
    /* max-width: 140rem; */
    width: 100%;
    align-items: center;
    /* padding: 1rem 2.4rem; */
    justify-content: space-between;
}

ul {
    display: flex;
    /* background-color: red; */
    height: 45px;
    /* flex-direction: column; */
    gap: 5px;
}

li {
    /* display: flex; */
    height: 40px;
    list-style: none;
    /* font-size: 1.8rem !important; */
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px 10px;
    display: flex;
    gap: 10px;
    height: 45px;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 6px;
    /* background-color: red; */
}

.icon {
    font-size: 16px;
    /* transition: 0.2s; */
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-dropdown-btn {
    display: none;
}

nav ul li a:hover,
ul li a.active {
    background-color: #9754cb;
    height: 45px;
    border-radius: 6px;
    color: #fff;
}

ul li #logout:hover,
ul li #logout.active {
    background-color: red !important;
}

.mobile-header {
    transition: 0.4s;
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    header {
        padding: 16px;
        width: 36px;
        overflow: hidden;
        z-index: 2;
    }

    .mobile-header {
        position: fixed;
        z-index: 3;
        background-color: #121212;
        width: 100%;
        padding: 16px 0;
        /* background-color: #ff0; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-route ul {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .menu {
        padding: 0 8px;
        display: none;
    }

    ul {
        gap: 2rem;
        width: 100%;
    }

    li a {
        margin: 0 3px;
        padding: 0 8px;
        width: 100%;
        font-size: 1rem;
    }

    .menu-dropdown-btn {
        display: block;
    }

    nav ul li a:hover,
    ul li a.active {
        background-color: #9754cb;
        height: 45px;
        border-radius: 6px;
        color: #fff;
    }

    .icon {
        display: inline-block !important;
    }

    .nav-routes {
        display: none;
    }
}

@media (max-width: 835px) {
    .nav-routes {
        display: none;
    }

    .mobile-header {
        display: flex !important;
    }
}

@media (min-width:481px) and (max-width: 1024px) {
    header {
        padding: 16px;
        width: 36px;
        overflow: hidden;
        z-index: 2;
    }

    .mobile-header {
        background-color: #121212;
        width: 100%;
        position: fixed;
        z-index: 3;
        transition: 0.4s;
        padding: 16px 0;
        height: fit-content;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .nav-route ul {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .menu {
        padding: 0 8px;
        display: none;
    }

    ul {
        gap: 2rem;
        width: 100%;
    }

    li a {
        margin: 0 3px;
        padding: 0 8px;
        width: 100%;
        font-size: 1rem;
    }

    .menu-dropdown-btn {
        display: block;
    }

    nav ul li a:hover,
    ul li a.active {
        background-color: #9754cb;
        height: 45px;
        border-radius: 6px;
        color: #fff;
    }
}